.m0 {
  margin: 0;
}

.center {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-uload-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
}

.comments {
  margin-top: 20px;
}
.comments .item {
  margin-bottom: 10px;
}
.comments .name {
  font-weight: bold;
}
.comments .text {
  font-style: italic;
}